<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Create New Post</title>
    <% include ./partials/head %>
    <link rel="stylesheet" href="/stylesheets/createpost.css" />
  </head>

  <body>
    <% include ./partials/newnavbar %>
    <section class="get-in-touch">
      <h1 class="title">Edit Post</h1>
      <form
        action="/api/posts/edit-post/<%= foundPost._id %>?_method=PUT "
        method="POST"
        class="contact-form row"
      >
        <div class="form-field col-lg-6">
          <input
            id="title"
            class="input-text js-input"
            name="title"
            type="text"
            value="<%= foundPost.title %> "
            required
          />
          <label class="label" for="title">Title</label>
        </div>
        <div class="form-field col-lg-6">
          <select
            id="category"
            class="input-text js-input"
            type="text"
            name="category"
            required
          >
            <option selected><%= foundPost.category %> </option>

            <% for( let i = 0; i < categories.length; i++ ) { %>
            <option value="<%= categories[i].name %> "
              ><%= categories[i].name %>
            </option>
            <% } %>
          </select>
        </div>

        <div class="form-field col-lg-12">
          <input
            id="text"
            class="input-text js-input"
            type="text"
            name="text"
            value="<%= foundPost.text %> "
            required
          />
          <label class="label" for="text">Message</label>
        </div>
        <div class="form-field col-lg-12">
          <input class="submit-btn" type="submit" value="Submit" />
        </div>
      </form>
        <form action="/api/posts/picture/<%= foundPost._id %> " method="post" class="contact-form row" enctype="multipart/form-data">
          <div class="input-group">
            <div class="custom-file">
              <input type="file" class="custom-file-input" id="inputGroupFile04"name="photo" multiple>
              <label class="custom-file-label" for="inputGroupFile04">Choose file</label>
            </div>
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="submit">Button</button>
            </div>
          </div>
        </div>
      </form>
    </section>
    <% include ./partials/footer %> 
    <% include ./partials/scripts %>
  </body>
</html>
