<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/head %>
    <link rel="stylesheet" href="/stylesheets/createpost.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />

    <title>Profile-Online Shopper</title>
  </head>
  <body>
    <% include ./partials/newnavbar %>

    <div class="rela-block container">
      <div class="rela-block profile-card">
        <div class="profile-pic" id="profile_pic"></div>
        <div class="rela-block profile-name-container">
          <% if(success.length>0) {%>
            <span style="color:green">
            <%=success%> <%}%></span>
        
            <% if (errors.length>0) { %>
                <span style="color:red">
                <%=errors %> 
                <% } %></span>
          <div class="rela-block user-name" id="user_name"><%= user.profile.name%></div>
          <div class="rela-block user-desc" id="user_description">
            <a href="/api/users/update-profile" class="btn btn-primary btn-lg">Edit</a>
          </div>
        </div>
        
        <div class="rela-block profile-card-stats">
          <div class="floated profile-stat" id="num_works">Name: <%= user.profile.name %><br /></div>
          <div class="floated profile-stat" id="num_followers">
            Email: <%= user.email%><br />
          </div>
          <div class="floated profile-stat" id="num_following">
            Address: <%= user.address %><br />
          </div>
        </div>
      </div>
      <div class="rela-block content">
        
          
        
      </div>
      
    </div>
    
    <% include ./partials/footer %> 
    <% include ./partials/scripts %>
  </body>
</html>
