<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %> 
      <title>All Posts</title>
      <style>
        .mt{
          position:relative;
          z-index:999;
        }
      </style>
  </head>
  <body>
    <% include ../partials/newnavbar %> 
    <div class="container cta-100">
      <div class="container">
        <div class="row blog">
          <div class="col-md-12">
            <div
              id="blogCarousel"
              class="carousel slide container-blog"
              data-ride="carousel"
            >
              <ol class="carousel-indicators">
                <li
                  data-target="#blogCarousel"
                  data-slide-to="0"
                  class="active"
                ></li>
                <li data-target="#blogCarousel" data-slide-to="1"></li>
              </ol>
              
              <!-- Carousel items -->
              <div class="carousel-inner">
                  <div class="carousel-item active">
                      <div class="row">
                        <% for( let i = 0; i < foundPost.length; i++ ) { %>
                            <div class="col-md-4">
                                <div class="item-box-blog">
                                    <div class="item-box-blog-image">
                                        <!--Date-->
                                        <div class="item-box-blog-date bg-blue-ui white">
                                            <span class="mon"><%= foundPost[i].timestamp %> </span>
                                        </div>
                                        <!--Image-->
                                        <figure>
                                            <img
                                            alt=""
                                            src="<%= foundPost[i].image[0] %> "
                                            />
                                        </figure>
                                    </div>
                                    <div class="item-box-blog-body">
                                        <!--Heading-->
                                        <div class="item-box-blog-heading">
                                            <a href="#" tabindex="0">
                                                <h5><%= foundPost[i].title %> </h5>
                                            </a>
                                        </div>
                                        <!--Data-->
                                        <div
                                        class="item-box-blog-data"
                                        style="padding: px 15px;"
                                        >
                                        <p>
                                            <i class="fa fa-user-o"></i> <%= foundPost[i].owner.profile.name%> 
                                            <i class="fa fa-comments-o"></i> Comments[<%= foundPost[i].comments.length %>]
                                        </p>
                                    </div>
                                    <!--Text-->
                                    <div class="item-box-blog-text">
                                        <p>
                                            <%= foundPost[i].text %> 
                                        </p>
                                    </div>
                                    <div class="mt">
                                        <a
                                        href="/api/posts/single-post/<%= foundPost[i]._id %>"
                                        tabindex="0"
                                        class="btn bg-blue-ui white read"
                                        >read more</a
                                        >
                                    </div>
                                    <!--Read More Button-->
                                </div>
                            </div>
                        </div>
                        <% } %>
                        
                  <!--.row-->
                </div>
                <!--.item-->
              </div>
              <!--.carousel-inner-->
            </div>
            <!--.Carousel-->
          </div>
        </div>
      </div>
    </div>
    <% include ../partials/scripts %> 
  </body>
</html>
